* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.App {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem !important;
}

h2 {
  font-size: 2.5rem !important;
}

hr {
  width: 50%;
}

#home,
#recomended,
#new-recipe,
#popular-recipe {
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
}

#home .row {
  min-height: 100vh;
}

.search {
  position: relative;
  width: 50%;
}

.ic {
  position: absolute;
  top: calc(25%);
  left: 1.25rem;
}

.search input {
  text-indent: 3rem;
}

.bg-purple-decoration {
  background-color: rgb(215, 154, 255);
  height: 100vh;
  width: 25%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.menu-recipe {
  border-radius: 20px;
  width: 600px;
  height: 600px;
  object-fit: cover;
  background-position: center;
  display: flex;
}

#btn {
  height: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 700;
  background-color: rgb(215, 154, 255);
  border-color: rgb(215, 154, 255);
}

#btn:hover {
  background-color: rgb(153, 63, 212);
  border-color: rgb(153, 63, 212);
}

.carousel-item {
  cursor: pointer;
}

.bg-purple-decoration-2 {
  height: 50px;
  width: 15px;
  background-color: rgb(215, 154, 255);
  display: block;
}

.bg-purple-decoration-3 {
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid rgb(215, 154, 255);
  border-radius: 20px;
  height: 600px;
  width: 600px;
  position: absolute;
  top: calc(27%);
  left: calc(5%);
  z-index: -1;
}

.bg-purple-decoration-4 {
  background-color: rgb(215, 154, 255);
  height: 77vh;
  width: 25%;
  position: absolute;
  right: 0;
  top: calc(11%);
  z-index: -1;
}

.bg-purple-decoration-5 {
  border-radius: 10px;
  height: 15px;
  width: 50px;
  background-color: rgb(215, 154, 255);
  display: block;
}

#header {
  width: 100%;
  background-color: rgba(215, 154, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 1rem;
  z-index: 1000;
}

.text-new-recipe {
  align-items: center;
  justify-content: start;
}

footer {
  margin-top: 300px;
  height: 300px;
  background-color: rgb(215, 154, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

@media only screen and (max-width: 575px) {
  * {
    font-size: 50%;
  }

  hr {
    width: 100%;
  }

  .bg-purple-decoration {
    height: 60vh;
  }

  .menu-recipe,
  .bg-purple-decoration-3 {
    width: 350px;
    height: 350px;
  }

  .bg-purple-decoration-3 {
    top: calc(10%);
    left: calc(5%);
  }

  .bg-purple-decoration-4 {
    height: 50vh;
    left: 0;
    top: calc(30%);
    z-index: -1;
  }

  #home .row {
    min-height: 50%;
  }

  #home .main-title,
  #recomended .recomended-title {
    margin-top: 3rem;
  }

  #home .main-img {
    margin-top: 12rem;
  }

  .new-recipe-title {
    margin-bottom: 3rem;
  }

  .search {
    width: 100%;
  }

  .text-new-recipe {
    justify-content: center;
  }

  #btn {
    height: 25px;
  }
}
